<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your <%= link_to "Charcut.io" , root_url %> meat <%= @meat.name %> is ready to eat!</h1>
    <p>Your meat appears to be done. Only you can tell for sure, but it's definitely time to check.</p>
    <p>Your box is located at: <%= @meat.box.address %></p>
    <p>C'mon over and eat your meat!</p>
  </body>
</html>
