<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your <%= link_to "Charcut.io" , root_url %> meat <%= @meat.name %> is done curing!</h1>
    <p>Your meat is done curing! Time to transfer it from the fridge and hang it up to dry in your box!</p>
    <p>Your box is located at: <%= @meat.box.address %></p>
  </body>
</html>
