<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your <%= link_to "Charcut.io" , root_url %> meat <%= @meat.name %> is done fermenting!</h1>
    <p>Your meat is done fermenting! Time for the temperature and humidity to go down, and drying to begin. This should happen automatically, but we thought you might like to know.</p>
    <p>In case you want to check in on things in person, your box is located at: <%= @meat.box.address %></p>
  </body>
</html>
