<div class='span3'>
  According to the <a href="http://www.fao.org/docrep/010/ai407e/AI407E03.htm">UN Food and Agriculture Organization</a>, these are the water percentages of some common charcuterie ingredients:
  <ul>
    <li>lean beef - 75%</li>
    <li>lean pork - 75%</li>
    <li>lean veal - 76%</li>
    <li>chicken - 75%</li>
    <li>duck - 76%</li>
    <li>venison - 76%</li>
    <li>beef fat - 4%</li>
    <li>pork fat - 8%</li>
  </ul>
</div>
