<div style='float:right;'>
  According to the <a href="http://www.fao.org/docrep/010/ai407e/AI407E03.htm">UN Food and Agriculture Organization</a>, <br />
  these are the water percentages of some <br />
  common charcuterie ingredients:
  <ul>
    <li>lean beef - 0.75</li>
    <li>lean pork - 0.75</li>
    <li>lean veal - 0.76</li>
    <li>chicken - 0.75</li>
    <li>duck - 0.76</li>
    <li>venison - 0.76</li>
    <li>beef fat - 0.04</li>
    <li>pork fat - 0.08</li>
  </ul>
</div>
