<div class='row-fluid'>
  <div class='span6'>
    <h1>Edit your recipe for <%= link_to @recipe.name, recipe_url(@recipe) %></h1>
    <%= render 'recipe_form', recipe: @recipe %>
  </div>
<%= render 'water_contents' %>
</div>
