<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Temp</a>
      </li>
      <li>
        <a href="#">Humidity</a>
      </li>
      <li>
        <a href="#">Weight</a>
      </li>
    </ul>
    <div id="graph">

    </div>
  </div>
</div>
