<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li id="temp-tab" class="active">
        <a href="#temp" data-toggle="tab">Temp</a>
      </li>
      <li id="humidity-tab">
        <a href="#humidity" data-toggle="tab">Humidity</a>
      </li>
      <li id="weight-tab">
        <a href="#weight" data-toggle="tab">Weight</a>
      </li>
    </ul>
    <div id="graph">
    </div>
  </div>
</div>
