<% content_for :javascripts do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% end %>
<div id="graph">

</div>

<%= form_for @box do |f| %>
  Name: <%= f.text_field :name, value: @box.name %><br />
  Active: <%= f.check_box :active, value: @box.active %><br /><br />
  <%= f.submit 'Save' %>
<% end %>
