<h1>Welcome to Ember.js</h1>
<p>This is from the Ember default application template. This is generated client side.</p>

<ul>
  <li>{{#linkTo 'sign_in'}}Sign In{{/linkTo}}</li>
  <li>{{#linkTo 'sign_up'}}Register{{/linkTo}}</li>

<br><br>

{{outlet}}
