<h1>Welcome to Ember.js</h1>
<p>This is from the Ember default application template. This is generated client side.</p>

<ul>
  <li>{{#link-to 'sign_in'}}Sign In{{/link-to}}</li>
  <li>{{#link-to 'sign_up'}}Register{{/link-to}}</li>

<br><br>

{{outlet}}
